{% extends 'base.html.twig' %}

{% block title %}Bineta's Portfolio{% endblock %}

{% block body %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-image: url(./background.jpg);
        color: #ffffff; /* Couleur du texte pour l'ensemble du corps */
        margin: 0;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-image: url(./background.jpg);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
    }

    .skill-card {
        border: 1px solid #007bff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    h2, h3, h4 {
        color: #007bff;
    }

    p {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="container" id="portfolio">
    <h2>Mon Portfolio</h2>

    <div class="skill-card">
        <h3>Administrer les réseaux et l’Internet</h3>
        <p>Configurer les fonctions de base du réseau local : Adresse IPV4</p>
        <p>Identifier les dysfonctionnements du réseau local</p>
        <p>Configuration administration SWITCH</p>
        <p>Configuration des Vlan</p>
        <p>Installer un poste client</p>
        <p>Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation</p>
        <p>Lois en Électricité</p>
    </div>

    <div class="skill-card">
        <h3>Connecter les entreprises et les usagers</h3>
        <p>Mesures d'Amplitude, de Période, de Déphasage de Signaux</p>
        <p>Câblage</p>
        <p>Étude de Fonctions</p>
        <p>Les calculs et équations avec exp, ln, puissances</p>
    </div>

    <div class="skill-card">
        <h3>Créer des outils et applications informatiques pour les R&T</h3>
        <p>Utiliser un système informatique (maîtrise des logiciels notepad++, spyder)</p>
        <p>Lire et exécuter un programme</p>
        <p>Créer un programme en python</p>
        <p>Résolution numérique d'une Équation</p>
    </div>

    <!-- Ajoutez d'autres cartes pour chaque compétence -->
</div>

{% endblock %}